#lb_login{
    position:relative;
    left:15px;
    margin-right:5px;
    width: 75px;
    height:24px;
  
}
#input_login{
    position:absolute;
    left:90px;
    margin-left:5px;
    width: 75px;
    height:24px;
    
}

#loginform{
    background-color: dimgray;
    width: 250px;
    height:250px;
    margin:50px;
}

/*cadprojeto.html*/
#box_projeto{
    position: absolute;
    left: 150px;
    background-color: royalblue;
    width: 1000px;
    
}
.lb_projeto{
    margin: 10px;
    position: absolute;
    background-color: cadetblue;
    width:200px;
}
#input_projeto{
    margin: 10px;
    position: absolute;
    left: 210;
    width:200px;
}
#btn_projeto{
    margin:40px;
    position: absolute;
    
}
#coordenador{
    left: 500px;
}


table{
    position: absolute;
    left:15px;
}
body{
    background-color: azure;
}
